{% extends "base.html" %}

{% block content %}
    <h1>Add Supplier</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.supplier_name.label }}<br>
            {{ form.supplier_name(size=32) }}<br>
            {% for error in form.supplier_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.supplier_description.label }}<br>
            {{ form.supplier_description(size=64) }}<br>
            {% for error in form.supplier_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}